BasedOnStyle: LLVM
UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
IncludeBlocks: Regroup
NamespaceIndentation: Inner
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
AlignArrayOfStructures: Right
Cpp11BracedListStyle: true
BinPackArguments: false

IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^<core/.*>'
    Priority: 2
  - Regex: '^<kernel/.*>'
    Priority: 3
  - Regex: '^<hal/.*>'
    Priority: 4
  - Regex: '^".*"'
    Priority: 5
SortIncludes: true
