BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
ColumnLimit: 120
IncludeBlocks: Regroup
NamespaceIndentation: Inner
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeTernaryOperators: true

IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2
SortIncludes: true
